.homepage {

    .main-logo {
        padding: 80px 0;

        text-align: center;
    }

    .slideshow {

    }

    .categories {
        background-color: #fff;
        padding: 60px 80px;

        .categories-item {
            
        }
    }
}   